.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
}

.logo img {
  height: 40px;
  margin-left: 40px;
}

.nav {
  display: flex;
  align-items: center;
}

.appButton {
  font-size: 16px;
  background-color: #8755de;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Gilroy', sans-serif;
  margin-left: 40px;
  margin-right: 40px;
}

.appButton:hover {
  background-color: #8c6fc4;
}

.navLinks {
  display: flex;
  gap: 40px;
}

.navLinks a {
  font-family: 'Gilroy', sans-serif;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  gap: 20px;
}

.navLinks a:hover {
  color: #555555;
}

.dropdown {
  display: none; /* Hide by default */
  position: relative;
}

.dropdownButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 10px;
  margin: 0;
}

.dropdownMenu li {
  padding: 8px 12px;
}

.dropdownMenu li a {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

.dropdownMenu li:hover {
  background-color: #8c6fc4;
  border-radius: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
  .navLinks {
    display: none; /* Hide nav links on small screens */
  }

  .dropdown {
    display: block; /* Show dropdown button on small screens */
  }

  .logo img {
    height: 40px; /* Adjust logo size for smaller screens */
  }
}
